@model List<DisnApp.Models.Historia>


@{
    var principal = Model.First(); // la más nueva (si ordenaste DESC)
}


<div class="d-flex flex-column bg-black rounded-4 overflow-hidden" style="height: min(82vh, 760px);">

    <!-- Header simple -->
    <div class="d-flex align-items-center justify-content-between p-3 border-bottom border-secondary">
        <div class="d-flex align-items-center gap-2">
            <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuAKfXT6RT6YYfXo9Bwl8DcQfhZ_cjNET89cwNSuQsovkacbuvXGi0jRYs7Fzy91NU3ScQt-C4O7gG7t2Ihp1HJGwqkbZaDNvtBc1afPnEccu0h_Z_hsb2xYfRsqDgeoPgMdOske_TpkNdbbFDg_4X49TcsUuDJWlAI4dHe8nj-C7eSZkhyQMlrHWXTswQXTHstGrpERyIJP1-LVe57aSK2REozLQZ5tx0DRn1Cj0UjT0uKIokbwgZeeFc5oVWqGZzjg8_d76tsqANwe"
                 class="rounded-circle border border-2 border-white"
                 style="width:36px;height:36px;object-fit:cover;" />
            <div class="fw-semibold">@principal.Usuario?.UserName</div>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>



    <!-- Imagen principal -->
    <div class="flex-grow-1 d-flex align-items-center justify-content-center p-3">
        <img src="@principal.UrlImagen" class="img-fluid" style="max-height:70vh; object-fit:contain;" />
    </div>

    <!-- Miniaturas (todas las historias del usuario) -->
    <div class="p-3 border-top border-secondary">
        <div class="d-flex gap-2 overflow-auto">
            @foreach (var h in Model)
            {


                @if (h.UsuarioId == (string)ViewBag.CurrentUserId)
                {
                    <div class="dropdown">
                        <button class="btn btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="material-symbols-outlined">more_vert</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark shadow">
                            <li>
                                <form asp-controller="Historia" asp-action="Delete" method="post">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@h.Id" />

                                    <button type="submit" value="Delete" class="dropdown-item text-danger">
                                        Eliminar
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }

                <a class="d-block flex-shrink-0"
                   href="@h.UrlImagen"
                   target="_blank"
                   title="Abrir">
                    <img src="@h.UrlImagen"
                         class="rounded-3"
                         style="width:70px;height:70px;object-fit:cover;" />
                </a>
            }
        </div>
        <div class="text-white-50 small mt-2">
            Historias: @Model.Count
        </div>
    </div>

</div>
